%div.row
  %div.col-sm-12
    %div.form-group
      = f.text_field :name, placeholder: "Título", class: "form-control", required: true
  %div.col-sm-12
    %div.form-group
      = f.text_area :description, placeholder: "Descripción", class: "form-control"


