<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> 
          <span>
            <%= image_tag "profile_small.jpg", {alt: "image", class: "img-circle"} %>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
              </span> <span class="text-muted text-xs block">Art Director</a>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li class="active">
        <a href="#"><i class="fa fa-list-ul"></i> <span class="nav-label">Listado de Órdenes</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Catálogo de Usuarios</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Catálogo de Colecciones</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-mobile"></i> <span class="nav-label">Catálogo de Modelos</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-th"></i> <span class="nav-label">Catálogo de Productos</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-apple"></i> <span class="nav-label">Catálogo de Marcas</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-magic"></i> <span class="nav-label">Home Builder</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li><a href="slider-principal.html">Slider Principal</a></li>
          <li><a href="seccion-marcas.html">Sección de Marcas</a></li>
          <li><a href="primer-banner.html">Primer Banner</a></li>
          <li><a href="segundo-banner.html">Segundo Banner</a></li>
          <li><a href="tercer-banner.html">Tercer Banner</a></li>
          <li><a href="cuarto-banner.html">Cuarto Banner</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div id="page-wrapper" class="gray-bg dashbard-1">
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message">Bienvenido</span>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
          </a>
        </li>
        <li>
          <a href="login.html">
            <i class="fa fa-sign-out"></i> Log out
          </a>
        </li>
      </ul>
    </nav>
  </div>

