.fb-wt
  %a.facebook-fixed{href: "https://www.facebook.com/iDENMEX/",target:"_blank"}
    Facebook
    %i.ti-facebook
  %a.whats-fixed{href: "tel:8119166503"}
    whatsapp
    %i.fa.fa-whatsapp
%a.form-btn
  Ponte en Contacto
  %i.ti-pencil-alt
.fixed-forms
  .col-md-12
    %a.close-form X
    %h4 Contáctanos
    = render 'home/make_a_contact_form'
