<footer class="footer-1 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="widget">
          <h6 class="title wht">Contáctanos</h6>
          <hr>
          <ul class="cols-footer">
            <li>
              <i class="ti-direction-alt"></i><span>Ave. Miguel Alemán 6063 Local 108</span><br>
              <span>Col. America, Guadalupe, NL.</span>
            </li>
            <li>
              <i class="ti-headphone-alt"></i><span>(899) 9252627</span> <br>
              <i class="fa fa-whatsapp"></i><span>62 356 3502 </span>
            </li>
            <li>
              <i class="ti-email"></i><span>contacto@idenmex.com</span> 
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="widget">
          <h6 class="title wht">Acerca de</h6>
          <hr>
          <ul class="cols-footer">
            <li>
              <a href="">Términos y condiciones</a>
            </li>
            <li>
              <a href="">Aviso de Privacidad</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="widget">
          <h6 class="title wht">Let's be friends</h6>
          <hr>
          <p class="wht">Regístrate a nuestro newsletter y obten un 10% de descuento en tu primer compra.</p>
          <%= form_for Newsletter.new, class: "form-newsletter halves" do |f| %>
            <%= f.email_field :email, placeholder: "email", class: "mb16 transparent", required: true %>
            <%= f.submit "Registrar", class: "btn-white mb0 newsletter" %>
          <% end %>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-6">
        <span class="sub wht">&copy; Copyright 2016 - Idenmex.com</span>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline social-list">
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="ti-facebook"></i></a></li>
            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--end of container-->
  <a class="btn btn-sm fade-half back-to-top inner-link slip" href="#top">Top</a>
</footer>
