%section.image-bg.parallax.overlay.pllx
  .container
    .row
      .col-sm-12.text-center
        %h3.mb-xs-24.uppercase.shadows Échale un ojo a estos sitios.
        %p.lead.mb40.shadows
          Si ves algo que te gusta pues solo le das clic en comprar,total estamos aquí
          %br y allá, digo solo para tu comodidad.
        %ul.stores
          %li
            %a{href: "https://www.amazon.com.mx/s?marketplaceID=A1AM78C64UM0Y8&me=A1SZU6WK61WG5C&merchant=A1SZU6WK61WG5C&redirect=true", target: "_blank"}
              = image_tag "amazon.png"
          %li
            %a{href: "https://www.linio.com.mx/b/idenmex", target: "_blank"}
              = image_tag "linio.png"
          %li
            %a{href: "http://eshops.mercadolibre.com.mx/IDENMEX", target: "_blank"}
              = image_tag "mercado.png"
