%section.page-title.page-title-2.image-bg.overlay.parallax
  %div.background-image-holder
    = image_tag @offer_builder.main_picture, class: "background-image"

%section.sps
  %div.container
    %div.row
      %div.col-md-2.col-sm-4.masonry-item.col-xs-12
        %div.select-option
          %i.ti-angle-down
          = form_tag offer_section_path, id: "products_sort", method: :get, remote: true do
            = select_tag "product_order", options_for_select(products_order_combo), prompt: "Sort by"
      
    %div.row
      %div.col-sm-12
        %hr
    %div.row.masonry#products_section
      = render 'products', products: @products, type: "offer"
      
