%div.container
  %div.product-single.mt48
    %div.row.mb24.mb-xs-48
      = render 'pictures_slider', pictures: @product.pictures, product: @product
      = render 'product_detail', product: @product

    %div
      %h5.uppercase.mb8.fing Descripción
      %div
        %p= @product.description

- if @product.related_products.any?
  %div.container
    %div.row
      %div.col-sm-12
        %h5.uppercase.mb-xs-40 También te puede interesar
    %div.row
      = render 'related_products', products: @product.related_products unless @product.related_products.empty?
