%div.ibox-title
  %h5 Información de la Sección de Ofertas

= form_for @offer_builder, url: offer_builder_path(@offer_builder) do |f|
  %div.col-sm-12
    %div.form-group
      = render 'shared/picture_fields', object: @offer_builder, f: f

  %div.col-sm-12
    %div.form-group
      = f.submit "Guardar", class: "btn btn-primary ca-suc"
