<html>
  <head>
    <meta charset="utf-8">
    <title>IdenMex</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <%= stylesheet_link_tag 'frontend/bootstrap.css' %>
    <%= stylesheet_link_tag 'frontend/theme.css' %>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'> 
  </head>
  <body>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
