<html>
  <head>
    <meta charset="utf-8">
    <title>IdenMex</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <style>
.container {
    position: relative;
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
p {
    margin: 0 0 10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px)
.col-md-offset-2 {
    margin-left: 16.66666667%;
}
@media (min-width: 992px)
.col-md-8 {
    width: 66.66666667%;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
    font-size:20px;
      font-weight:bolder;
}
.uppercase {
    font-weight: 400;
    text-transform: uppercase;
}
.mail-title {
    border-bottom: 1px solid #D8D8D8;
    line-height: initial;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ca-order-number {
    float: right;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, span {
    font-weight: 400;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
      color:#666;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.text-center {
    text-align: center;
}

th, td {
    line-height: 24px !important;
}
.col-md-offset-2 div img{
    max-width: 100px;
}
.table td img{
    width: 20%;
    min-width: 100px;
}




    </style> 
  </head>
  <body>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
